.test-results {
    text-align: center;
    margin-bottom: 100px;
    height: 150px;
    margin-top: 80px;


 .position-h5{
  margin: 45px;
  color:$heavy_blue;

 }
 .card-test{
    //   margin-bottom: 150PX;
    // margin-top: 100PX;
}
 .title{
  padding: 20px 20px;
  justify-content: center;

 }




}

//---------------- Last run details ---------------------------


 .background {
    background-color:$light_grey;
    padding: 25px;
}
.background-test {
  margin-bottom:40px;
  background-color:$light_grey;
  padding: 25px;


}
//---------------- 5 Last run  ---------------------------

 .position-h4{

  color:$heavy_blue;
  text-align: center;

 }


.last-test{
      margin: 26px 123px;
}



.head-results{
  text-align: center;
  margin-bottom: 40px;
  height: 150px;
   border-bottom: 1px solid $heavy_blue;

  .img-one{
      margin-top: 50px;
  }
}

.info-results{
  text-align: center;
  margin-bottom: 30px;
  height: 150px;
  margin-top: 100px;
  border-bottom: 1px solid $heavy_blue;

p {
  color:$heavy_blue;
}
}

.edit{
      display: contents;

      a{
        color:white;

      }


}

.btn-edits {
  margin-left: 10px;
  color:black;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.link {

    margin-left: 10px;
    padding: 4px;
}
