.test-results {
 text-align: center;

.img-test{
  margin-top: 80px;

}

.img-run-detail{
 margin-bottom: 13px;
 margin-top: 20px;
}

.img-5run-detail{

     margin-bottom: 13px;
    margin-top: 20px;

}

  h2 {
  color:$heavy_blue;
  margin-top: 20px;
  margin-bottom: 33px;
 }

 h4 {
  color:$heavy_blue;
  margin-bottom: 28PX;

 }

 h5, h3{
     margin-bottom: 11PX;
    font-weight: lighter;
    color: white;
    padding: 14PX;
    background-color:$heavy_blue;
    text-align: center;
    padding: 9PX;

 }



 p, h6{
    // color:$heavy_blue;
    color:#1647FB;
    // color:orange;
    font-weight: bold;
    font-weight: regular;
    font-size: 17px;
    padding: 7PX;
  text-align:center;
 }


.test-content {

    /* margin-left: 5px; */
    font-weight: regular;
    font-size: 17px;
    text-align: center;

}



}

//---------------- Last run details ---------------------------


.date-run {
    justify-content: center;
    margin-bottom: 24PX;

  }

 .background {
    background-color:$light_grey;
    padding: 25PX;
}

//---------------- 5 Last run  ---------------------------

.last-test{
      margin: 26px 123PX;
}




.result {
      margin: 5PX;
      padding: 0px;
      margin-bottom: 25PX;

  p{
    // color:$heavy_blue;
    color:#1647FB;
    // color:orange;
    font-weight: bold;
    font-weight: regular;
    font-size: 17px;
    padding: 7PX;
  }

// ------------------------Icon--------------------------
.fa-check {
  color:green;
}
.fa-times {
  color:red;
}

.fa-arrow-circle-right{
  color:black;
}

.fa-calendar-alt {
  color: white;
 }
.fa-vial{
color:black;
}

}


