

.result {

    margin-top: 17px;
    /* padding: 5px 53px; */
    border-radius: 3px;
    border-color: #0085aa;
    justify-content: space-around;
}

.results {
  padding-top: 5px;


  p{
    color:$heavy_blue;
    font-family: w
  }





.result-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15PX;
  margin-top: 50PX;
  margin-bottom: 50PX;
}
.fa-chart-bar{
  background-color: white
}

.circle{
     background-color: #99D3D9;
    color: #405398;
    text-align: center;
    padding-top: 10PX;
}

.card-result{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(44, 56, 71, 0.125);
    border-radius: 5px;
    padding: 5PX;
    padding-right: 30PX;
}

.edit {

}


.card-result-header{
  background-color:$heavy_blue;
  color:white;
  text-align: center;
  justify-content: center;
  padding-top: 13PX;

}
.card-result-detail {
  font-weight: bolder;
  font-size: 100px;


  h6 {
    font-size:1.75rem;
  }


}

.chart {
  // text-align: center;
  margin-top:55px;
}



 .background {
    background-color:$light_grey;
    padding: 25px;
}












