.sub-img {
  width: 200px;
  text-align: center;

  p{
    padding-top: 30px;
  }
}

.all {
 background-color: white;
 padding-bottom: 70px;
 margin: -40px 0;
}

.white-home {
 background-color: white;
 padding: 10px 0;
 margin: -40px 0;
}

.price_img {
  width: 180px;
  height: 150px;
  text-align: center;
}

.carding-home {
margin: 20px 0px;
padding: 35px 19px;
position: relative;
display: flex;
background: white;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-clip: border-box;
border: 1px solid rgba(44, 56, 72, 0.125);
border-radius: 5px;
}



.img-run-detail{
margin-top: 17PX;
}

.ligne {
padding: 15px 0;
margin-top: 100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.cards-home{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 17px;

//   padding: 15px 0;
// margin-top: 100px;
// display: flex;
// flex-wrap: wrap;
// justify-content: space-around;
}
.ligne2 {
padding: 75px 0;
margin: 45px 0;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.ligne-4 {
padding: 15px 0;
margin: 100px 0;

flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.sub-block {
  width: 420px;
  text-align: left;
  h1 {
    line-height: 100%;
  }
  h4 {
    font-weight: 200;
  }
  .btn {
    margin: 20px 0;
  }
}

.before-end {
  text-align: center;
}

.style_image {
  width: 500px;
}

.container-h {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ligne3 {
height: auto;
background: #98D3D9;
padding: 60px 20px;
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-clip: border-box;
margin-top: 40px;

  .ligne {
    margin-top: 0px;
  }

}

.footer {
height: auto;
background: #40539A;
padding: 40px 20px;
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-clip: border-box;
  p {
    color: white;
    text-align: center;
  }
}

@media (max-width: 768px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .graph {
  width: 200px;
  margin: auto;
  }

  .cards-home {
    grid-template-columns: 1fr;
  }

  .container-h {
    max-width: 710px;
  }
  .carding-home {
    margin: 20px auto;
  }
  .image-block {
  margin: auto;
  }
  .sub-block {
  margin: auto;
  }
  .style_image {
  width: 300px;
}
}

@media (max-width: 992px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
    .graph {
  width: 350px;
  margin: auto;
  }
  .cards-home {
    grid-template-columns: 1fr;
  }

  .container-h {
    max-width: 780px;
  }
  .image-block {
  margin: auto;
  }
  .sub-block {
  margin: auto;
  }
}

@media (min-width: 1200px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .graph {
  width: 900px;
  margin: auto;
  }
  .container-h {
    max-width: 1000px;
  }
}




