// Specific CSS for your home-page
.sub-img {
  width: 200px;
  text-align: center;
}

.carding-home {
padding: 10px 20px;
position: relative;
display: flex;
background: white;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-clip: border-box;
border: 1px solid rgba(44, 56, 72, 0.125);
border-radius: 5px;
}

.ligne {
margin-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.ligne2 {
margin-top: 50px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.sub-block {
  width: 420px;
  text-align: left;
}

.style_image {
  width: 500px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ligne3 {
margin-top: 45px;
height: auto;
background: #98D3D9;
padding: 40px 20px;
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-clip: border-box;

  .ligne {
    margin-top: 0px;
  }

}

@media (min-width: 768px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .container {
    max-width: 710px;
  }
}

@media (min-width: 992px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .container {
    max-width: 870px;
  }
}

@media (min-width: 1200px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .container {
    max-width: 1000px;
  }
}
