// Styles for top elements : pricing, credits...

#orga-admin-infos{
  display: flex;
}

.orga-section-bar{
  display: flex;
  justify-content: space-between;
  margin: 30px 0 10px 0;
  align-items: center;
}

// Commmon style for all flexed divs
#orga-admin-infos > div{
  background-color: white;
  margin-right: 20px;
  text-align: center;
  border-radius: 0 0 15px 0;
}

.orga-cta{
  margin: 25px 0px 10px 0px;
}


.orga-big-number{
  font-size: 5em;
  font-weight: bold;
}

.orga-blue-header{
  background-color: $heavy_blue;
  padding-bottom: 10px;
  margin: 0;
  color: white;
}

.orga-credits-monthly{
  width: 300px;
  background-color: $heavy_blue !important;
  color: white;
}

.orga-credits-left{
  width: 200px;
  border-right-radius: 2px solid black;
}

.orga-users{
  width: 200px;
}


// Styles for projects grid
#orga-projects-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.orga-project-card-header{
  background-color: $light_blue;
  padding: 10px;
}

.orga-project-card-body{
  padding: 10px 10px;
}

.orga-project-card{
  background-color: white;
  border-radius: 0 0 15px 0;
  transition:box-shadow 0.3s ease;
}

.orga-project-card:hover{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.orga-link-project{
  color: $heavy_blue;
  font-size: 20px;
}

.orga-project-card-header-title{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.error-number{
  color: $red;
  font-size: 3em;
  font-family: $body-font;
}

.orga-tests-running{
  font-weight: lighter;
}
