.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 17px;
}

.project-card {
  padding: 20px 20px;
  justify-content: center;
  color: $black;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 5px;
  border: 10px $black;
}

.project-card h6 {
  font-family: $body-font;
  font-weight: bolder;
  text-align: center;
  font-size: 14px;
}

.project-card p {
  font-weight: lighter;
  text-align: center;
}

// .project-card-details {
//   text-align: center;
// }

.fa-times-circle {
  font-size: 74px;
  margin: 26px;
  text-align: center;
  color: $red;
}

.fa-check-circle {
  font-size: 74px;
  margin: 29px 10px;
  text-align: center;
  color: $heavy_blue;
}

.fa-history {
  font-size: 67px;
  margin: 29px 10px;
  text-align: center;
  color: $light_blue;
}

// .card-project a {
//   align-items: center;
//   color: $black;
// }

// .card-project p {
//   font-weight: lighter;
//   margin-top: 8px;
//   font-size: 14px;
//   text-align: center
// }

.project-card:hover .btn-primary {
    background-color: $light_grey;
    border-color: #0085aa;
    transition: all 0.3s;
    color: $heavy_blue;
}

.project-card:hover {
  background: $heavy_blue;
  color: $white;
}


.project-card:hover .fa-check-circle {
  color: $white;
}
