.container-title {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.project-link a {
  color: $black;
  text-decoration: underline;
  font-weight: lighter;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 19px;
  margin-top: 49.7px;
}

.project-card {
  text-align: center;
  padding: 20px 20px;
  justify-content: center;
  color: $black;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 5px;
  border: 10px $black;
  margin-bottom: 2px;
}

.project-card h5 {
  font-weight: bolder;
}

.project-card p {
  font-weight: lighter;
}

// .project-card-details {
//   text-align: center;
// }

.fa-times-circle {
  font-size: 74px;
  margin: 26px;
  color: $red;
}

.fa-check-circle {
  font-size: 74px;
  margin: 29px 10px;
  color: $heavy_blue;
}

.fa-history {
  font-size: 67px;
  margin: 29px 10px;
  color: $light_blue;
}

// .card-project a {
//   align-items: center;
//   color: $black;
// }

// .card-project p {
//   font-weight: lighter;
//   margin-top: 8px;
//   font-size: 14px;
//   text-align: center
// }

.project-card:hover .btn-primary {
    background-color: $white;
    transition: all 0.3s;
    color: $heavy_blue;
}

.project-card:hover {
  background: $heavy_blue;
  color: $white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 10px;
}


.project-card:hover .fa-check-circle {
  color: $white;
}

.container-title .btn {
  display: inline !important;
}

#project-container {
  margin-top: 150px;
  margin-bottom: 70px;
}
