<div class="container">
  <h1>Welcome to Surelytics</h1>
  <div>
    <%= image_tag "surelytics_homeboy.png" %>
    <h3>Custom analytics is the only path to insights</h3>
    <h3>But is also a source of errors</h3>
    <h3>Hence requiring monitoring for data integrity</h3>
  </div>
  <h2>Solution to analytics tests</h2>
  <p>Surelytics is the best tool to manage your analytics tests and run data quality tests.</p>
  <button type="button" class="btn btn-primary">Start now</button>
</div>
