<%= link_to "back", organization_path %>
<div class="container">


  <h1>New project!</h1>

  <%= simple_form_for(@project) do |f| %>
    <%= f.input :name, placeholder: 'Campaign', :label => "What's the name of your project?" %>

    <%= f.button :submit, 'new project', class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
